body{
    box-sizing: border-box;
    height: 100vh;
}

.main-container {
    margin: 0 100px 0 150px;
    position: relative;
    top: 400px;
}

.main-container p {
    margin-left: 30px;
}

.image {
    display: inline-block;
    position: relative;
    bottom: 50px;
    margin: 0 0 0 50px ;
    img {
        width: 150px;
    }
}


.content {
    display: inline-block;
    height: 500px;
    background-color: beige;
    position: relative;
}


.workouts {
    display: inline-block;
    position: relative;
    margin-left: 50px;
}
.workout {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
    text-align: center;
    background-color:  violet;
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -130%);
    }
}

.badge {
    width: 90px;
    position: absolute;
    bottom: 110px;
    left: 5px;
    animation: spin 5s infinite
}

@keyframes spin {
    50% {transform: rotateY(180deg);}
}

.badgeLable {
    position: absolute;
    bottom: 200px;
    left: 25px;
}

.currentLevel {
    width: 40px;
    position: absolute;
    bottom: 110px;
    left: 30px;
    animation: bubble 2s infinite;
}

@keyframes bubble {
    50% {transform: translateY(10px); }
    100% {transform: translateY(0px); }
}

.arrow {
    margin-top: 70px;
    width: 100%;
    height: 3px;
    background-color: black;
    position: relative;
}
.arrow::before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
    position: absolute;
    top: -4px;
    right: -6px;
}

.it-is-completed {
    background-color: crimson;
}

.yet_to_complete {
    background-color: violet;
}