<div class="main-container">
  <div class="image">
    <img src="../assets/PikPng.com_man-running-png_2654663.png" />
  </div>
  <div class="workouts">
    <div class="workout" [class]="{ 'it-is-completed': i < completedCount}"
      *ngFor="let workout of workouts; let i = index"
      [style.bottom]="i*50 + 'px'"
    >
      <div>
        <img
          class="badge"
          *ngIf="workout.badge_flag === 1"
          src="../assets/Shield-Badge-Free-PNG-Image.png"
        />
        <img
          class="currentLevel"
          *ngIf="completedCount === i + 1"
          src="../assets/Location-Icon-PNG_ufs89t.png"
        />
        <span class="badgeLable" *ngIf="workout.badge_flag === 1">{{
          workout.badge_name | uppercase
        }}</span>
        <span class="badgeLable" *ngIf="completedCount === i + 1">{{
          "you are here" | uppercase
        }}</span>
        <p>{{ workout.name }}</p>
      </div>
    </div>
    <div class="arrow"></div>
    <p>No.of Workouts</p>
  </div>
</div>
